<!--
  Copyright 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of SEM
  
  SEM is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  SEM is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with SEM.  If not, see <https://www.gnu.org/licenses/>.
 -->
<div>
  <ion-grid>
    <ion-row id="first-row">
      <ion-col sizeMd="10" size="8" (click)="expand()" ion-align-items-baseline>
        <span class="notification-text notification-title" [ngClass]="{'notification-text-disabled' : myNotification.active === 0}"> {{ myNotification.subject }} </span><br/>
        <span class="notification-text" [ngClass]="{'notification-text-hided' : myNotification.active === 0}">
          <ion-datetime [(ngModel)]="dateTime" displayFormat="hh:mm DD/MM/YY" readonly="true">
          </ion-datetime>
        </span>
      </ion-col>
      <ion-col sizeMd="1" size="2" (click)="hide()">
        <div class="delete-notification enter" [ngClass]="{'delete-notification-disabled' : myNotification.active === 0}">
          <ion-icon *ngIf="myNotification.active !== 0" name="eye-off-outline" size="large"></ion-icon>
          <ion-icon *ngIf="myNotification.active === 0" name="eye-outline" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col sizeMd="1" size="2" (click)="remove()">
        <div class="delete-notification enter" [ngClass]="{'delete-notification-disabled' : myNotification.active === 0}">
          <ion-icon name="trash-outline" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="myNotification.active !== 0 && expanded === true" (click)="expand()">
      <ion-col >
        <div class="notification-text" [innerHtml]="description">
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="myNotification.active !== 0 && expanded === true && myNotification.blog_post_url">
      <ion-col (click)="openUrl( myNotification.blog_post_url)">
        <div class="notification-text"  [innerHtml]='url_invite_text'>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="myNotification.active !== 0 && expanded === true && myNotification.attachments">
      <ion-col (click)="openUrl( attachment.url)" *ngFor="let attachment of this.myNotification.attachments" sizeXs="6" sizeSm="6" sizeMd="3" sizeLg="2" sizeXl="2" >
        <div class="ion-text-center">
          <span class="notification-text">
            <ion-icon name="document-outline" size="large"></ion-icon>
          </span><br/>
          <span class="notification-text">  {{ attachment.title }} </span><br/>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>