/* 
 *  Copyright 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *  
 *  This file is part of SEM
 *  
 *  SEM is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  SEM is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with SEM.  If not, see <https://www.gnu.org/licenses/>.
 */

 .notification-title {
    font-weight: bold;
}

.notification-text {
    font-size: 15px !important;
    line-height: 22px;
    letter-spacing: -0.36px;
    color: var(--ion-color-primary);
}

.notification-text-disabled {
    color: grey;
    font-weight: lighter;
}

.notification-text-hided {
    display: none;
}

.delete-notification {
    position: absolute;
    right: 20px;
    display: block;
    width: 20px;
    top: 15px;
    color: var(--ion-color-primary);
}

.delete-notification-disabled {
    color: grey;
    --ionicon-stroke-width: 7px;
    top: 0;
}

app-notification {
    padding: 16px 40px 17px 0;
}
ion-datetime {
    --padding-start: 0;
}