<!--
  Copyright 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of SEM
  
  SEM is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  SEM is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with SEM.  If not, see <https://www.gnu.org/licenses/>.
 -->
<div>
  <ion-grid>
    <ion-row>
      <ion-col size="10" (click)="expand()">
        <span class="notification-text notification-title" [ngClass]="{'notification-text-disabled' : hided == true}"> {{ myNotification.title }} </span><br/>
        <span class="notification-text" [ngClass]="{'notification-text-hided' : hided == true}">
          <ion-datetime [(ngModel)]="myNotification.creation_date" displayFormat="DD/MM/YY" readonly="true">
          </ion-datetime>
        </span>
      </ion-col>
      <ion-col size="2" (click)="hide()">
        <div class="delete-notification enter" [ngClass]="{'delete-notification-disabled' : hided == true}">
          <ion-icon *ngIf="hided === false" name="eye-off-outline" size="large"></ion-icon>
          <ion-icon *ngIf="hided === true" name="eye-outline" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="hided === false && expanded === true" (click)="expand()">
      <ion-col >
        <div class="notification-text" [innerHtml]="description">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>