<!--
  Copyright 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of SEM
  
  SEM is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  SEM is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with SEM.  If not, see <https://www.gnu.org/licenses/>.
 -->
 
 <ion-content [fullscreen]="true">
  <div id="content">
      <div class="login-rectangle">
          <!--<ion-img src="../../../assets/images/ac_logo.png"></ion-img>-->
          <h1 class="title_without_menubar">Acceder al <br /> Carnet virtual de SEM</h1>
          <p>Debes proporcionar una contraseña que se te ha proporcionado desde la administración del sistema para ligar tu dispositivo a tu cuenta</p>
          <ion-item>
              <ion-input class="text" type="text" placeholder="PASS" [(ngModel)]="pass"></ion-input>
          </ion-item>
          <a id="login-button" class="btn default_buttom" expand="full" (click)="login()">
            ENTRAR
          </a>

          <div id="login-info"><span>Si no tienes aún tu “Contraseña” pídelo a </span><a href="mailto:sem@sevilla.org">sem@sevilla.org</a></div>
      </div>
  </div>
</ion-content>
