/* 
 *  Copyright 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *  
 *  This file is part of SEM
 *  
 *  SEM is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  SEM is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with SEM.  If not, see <https://www.gnu.org/licenses/>.
 */

 ion-content {
    background-color: white; 
    --background: none;
    background-image: url('../../../assets/ICONO\ SKYLINE\ SEVILLA.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    #content {
        padding: 5px;
        background: white;
    .login-rectangle {
        width: 90%;
        background-color: white;
        padding: 5px;
    }
    .top-row {
        padding-top: 1vh;
        padding-bottom: 2vh;
    }
    .logo-big {
        display: block;
        height: 450px;
        max-height: 20vh;
    }
    .login-pass {
        font-size: calc(14px + 2vw);
        border: medium solid #C6E0E4;
        color: var(--ion-color-primary);
    }
    .button {
        padding: 10px;
        background-color: var(--ion-color-primary);
        border: thick solid #C6E0E4;
        .text {
          display: inline-block;
          text-align: left;
          vertical-align: middle;
          font-size: calc(14px + 2vw);
          color: white;
          max-width: 75%;
        }
        .only-text {
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          font-size: calc(14px + 2vw);
          color: white;
        }
        .image {
          display: inline-block;
          vertical-align: middle;
          margin-right: 5vw;
          color: white;
        }
    }
    }
}