<!--
  Copyright 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of SEM
  
  SEM is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  SEM is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with SEM.  If not, see <https://www.gnu.org/licenses/>.
 -->
 
 <ion-content [fullscreen]="true">
  <div id="content">
    <ion-grid ion-justify-content-center>
      <ion-row ion-justify-content-center class="top-row">
        <ion-col style="text-align: center;">
          <ion-img src='../../../assets/icon.png' class="logo-big"></ion-img>
        </ion-col>
        <ion-col size='12' style="text-align: center;">
          <p class="title">Sindicato de Empleados Municipales</p>
        </ion-col>
      </ion-row>
      <ion-row ion-justify-content-center>
        <ion-col size='12' style="text-align: center;">
          <ion-input class="login-pass" type="text" placeholder="CONTRASEÑA" [(ngModel)]="pass"></ion-input>
        </ion-col>
        <ion-col size='12' style="text-align: center;">
          <div class="button" (click)="login()">
            <div class="only-text">
              ACCEDER
            </div>
          </div>
        </ion-col>
        <ion-col size='12'style="text-align: center;">
          <div id="login-info"><span>Si no has recibido tu contraseña, puedes solicitarla a: </span><a href="mailto:sem.afiliados@gmail.com">sem.afiliados@gmail.com</a></div>
        </ion-col>
      </ion-row>
    </ion-grid>      
  </div>
</ion-content>
