<!--
  Copyright 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of SEM
  
  SEM is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  SEM is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with SEM.  If not, see <https://www.gnu.org/licenses/>.
 -->
 
 <ion-header>
  <ion-toolbar>
    <ion-title>
      Manda tu consulta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Asunto:</ion-label>
        <ion-input class="box" type="text" maxlength="30"></ion-input>
      </ion-col>
    </ion-row>
      <ion-col>
        <ion-label>Mensaje:</ion-label>
        <ion-textarea class="box" rows="15" [(ngModel)]="message" name="message"></ion-textarea>
      </ion-col>
    <ion-row>
      
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" (click)="close()"> cancelar </ion-button>
    <ion-button slot="end" (click)="send()"> enviar </ion-button>
  </ion-toolbar>
</ion-footer>