<!--
  Copyright 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of SEM
  
  SEM is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  SEM is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with SEM.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-header class="ion-no-border">
  <ion-grid ion-justify-content-center>
    <ion-row ion-justify-content-center class="top-row">
      <ion-col style="text-align: center;">
        <ion-img src='../../../assets/icon.png' class="logo-medium"></ion-img>
      </ion-col>
      <ion-col size='12' style="text-align: center;">
        <p class="title">Sindicato de Empleados Municipales</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid ion-justify-content-center>
    <ion-row ion-justify-content-center>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO WEB SEMapp.png" (click)="openUrl('https://sem-aytodesevilla.es/')"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO TELEFONO SEMapp.png" (click)="openUrl('tel:955472026', false)"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO MAIL SEMapp.png" (click)="openUrl('mailto:sem.afiliados@gmail.com', false)"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO WHATSAPP SEMapp.png" (click)="openUrl('whatsapp://send?phone=34655207237', false)"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO FACEBOOK SEMapp.png" (click)="openUrl('https://www.facebook.com/sem.ayuntamientosevilla')"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO TWITTER SEMapp.png" (click)="openUrl('https://twitter.com/semaytodsevilla')"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO INSTAGRAM SEMapp.png" (click)="openUrl('https://www.instagram.com/semayto.sevilla/')"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png" (click)="openUrl('https://www.google.com/maps/place/C.+Otto+Engelhardt,+1,+41004+Sevilla/@37.381985,-5.98613,17z/data=!4m5!3m4!1s0xd126c1f7440d67f:0xa6a1a2c4839958bd!8m2!3d37.3819848!4d-5.9861301?hl=es-ES')"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-start" style="padding-top: 2vh;">
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 class="central_section" (click)="goToCarnet()">
        <div class='inline-button action-button-medium'> 
          <div class="image">
            <ion-img src="../../../assets/icon/central/ICONO CARNET AFILIADO.png"></ion-img>
          </div>
          <div class="text carnet"> CARNET </div>
        </div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 class="central_section" (click)="goToNotificaciones()">
        <div class='inline-button action-button-medium'> 
          <div class="image">
            <ion-img src="../../../assets/icon/central/ICONO NOTIFICACIONES.png"></ion-img>
          </div>
          <div class="text notificaciones"> NOTIFICACIONES </div>
        </div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 class="central_section" (click)="goToCursos()">
        <div class='inline-button action-button-medium'>
          <div class="image">
            <ion-img src="../../../assets/icon/central/ICONO AULA VIRTUAL.png"></ion-img>
          </div>
          <div class="text aula_virtual"> CURSOS SEM </div>
        </div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 class="central_section" (click)="goToEnlaces()">
        <div class='inline-button action-button-medium'>
          <div class="image">
            <ion-img src="../../../assets/icon/central/ICONO ENLACES.png"></ion-img>
          </div>
          <div class="text enlaces"> ENLACES </div>
        </div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 class="central_section" (click)="goToEmpleo()">
        <div class='inline-button action-button-medium'>
          <div class="image">
            <ion-img src="../../../assets/icon/central/ICONO EMPLEO AYTO SEVILLA.png"></ion-img>
          </div>
          <div class="text empleo"> EMPLEO </div>
        </div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 class="central_section" (click)="goToFormacion()">
        <div class='inline-button action-button-medium'>
          <div class="image">
            <ion-img src="../../../assets/icon/central/ICONO FORMACIÓN.png"></ion-img>
          </div>
          <div class="text formacion"> FORMACION </div>
        </div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 class="central_section" (click)="goToCitaPrevia()">
        <div class='inline-button action-button-medium'>
          <div class="image">
            <ion-img src="../../../assets/icon/central/ICONO CITA PREVIA.png"></ion-img>
          </div>
          <div class="text cita_previa"> CITA PREVIA </div></div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 class="central_section" (click)="goToSeccsSind()">
        <div class='inline-button action-button-medium'>
          <div class="image">
            <ion-img src="../../../assets/icon/central/ICONO SECC. SINDICALES SEM.png"></ion-img>
          </div>
          <div class="text seccs_sindicales"> SEC. SIND. SEM </div>
        </div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 class="central_section">
        <div class='inline-button action-button-medium' (click)="openUrl('https://sem-aytodesevilla.es/promociones/')">
          <div class="image">
            <ion-img src="../../../assets/icon/central/ICONO PROMOCIONES SEM.png"></ion-img>
          </div>
          <div class="text promos"> PROMOS </div>
        </div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 class="central_section" (click)="goToRecursos()">
        <div class='inline-button action-button-medium'>
          <div class="image">
            <ion-img src="../../../assets/icon/central/ICONO RECURSOS AYTO.png"></ion-img>
          </div>
          <div class="text recursos_ayto"> RECURSOS AYTO. SEVILLA </div>
        </div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 pushSm=3 pushMd=2 class="central_section">
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 pullSm=3 pullMd=2 class="central_section">
        <div class='inline-button action-button-medium' (click)="openUrl('https://sem-aytodesevilla.es/asisa-ayto-sevilla/')">
          <div class="image">
            <ion-img src="../../../assets/icon/central/ICONO ASISA AYTO SEVILLA.png"></ion-img>
          </div>
          <div class="text asisa"> ASISA AYTO. SEVILLA </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
