<ion-header class="ion-no-border">
  <ion-grid ion-justify-content-center>
    <ion-row ion-justify-content-center class="top-row">
      <ion-col style="text-align: center;">
        <ion-img src='../../../assets/icon.png' class="logo-big"></ion-img>
      </ion-col>
      <ion-col size='12' style="text-align: center;">
        <p>Sindicato de Empleados Municipales</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid ion-justify-content-center>
    <ion-row ion-justify-content-center>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO WEB SEMapp.png"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO TELEFONO SEMapp.png"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO MAIL SEMapp.png"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO WHATSAPP SEMapp.png"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO FACEBOOK SEMapp.png"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO TWITTER SEMapp.png"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO INSTAGRAM SEMapp.png"></ion-img>
      </ion-col>
      <ion-col size=1.5>
        <ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 style="display: flex; justify-content: center;">
        <div class='inline-button action-button-medium action-back' > <div class="image"><ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png"></ion-img></div><div class="text"> CARNET </div></div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 style="display: flex; justify-content: center;">
        <div class='inline-button action-button-medium action-back' > <div class="image"><ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png"></ion-img></div><div class="text"> CARNET </div></div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 style="display: flex; justify-content: center;">
        <div class='inline-button action-button-medium action-back' > <div class="image"><ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png"></ion-img></div><div class="text"> CARNET </div></div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 style="display: flex; justify-content: center;">
        <div class='inline-button action-button-medium action-back' > <div class="image"><ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png"></ion-img></div><div class="text"> CARNET </div></div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 style="display: flex; justify-content: center;">
        <div class='inline-button action-button-medium action-back' > <div class="image"><ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png"></ion-img></div><div class="text"> CARNET </div></div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 style="display: flex; justify-content: center;">
        <div class='inline-button action-button-medium action-back' > <div class="image"><ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png"></ion-img></div><div class="text"> CARNET </div></div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 style="display: flex; justify-content: center;">
        <div class='inline-button action-button-medium action-back' > <div class="image"><ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png"></ion-img></div><div class="text"> CARNET </div></div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 style="display: flex; justify-content: center;">
        <div class='inline-button action-button-medium action-back' > <div class="image"><ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png"></ion-img></div><div class="text"> CARNET </div></div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 style="display: flex; justify-content: center;">
        <div class='inline-button action-button-medium action-back' > <div class="image"><ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png"></ion-img></div><div class="text"> CARNET </div></div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 style="display: flex; justify-content: center;">
        <div class='inline-button action-button-medium action-back' > <div class="image"><ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png"></ion-img></div><div class="text"> CARNET </div></div>
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 pushSm=3 pushMd=2 style="display: flex; justify-content: center;">
      </ion-col>
      <ion-col sizeXs=4 sizeSm=3 sizeMd=2 pullSm=3 pullMd=2 style="display: flex; justify-content: center;">
        <div class='inline-button action-button-medium action-back' > <div class="image"><ion-img src="../../../assets/icon/sup/ICONO POSICION MAPA SEMapp.png"></ion-img></div><div class="text"> CARNET </div></div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
