/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.logo-medium {
    display: block;
    height: 400px;
    max-height: 15vh;
}

.title {
    color: #0C0F57;
    font-size: calc(16px + 0.5vw);
}
.link-title {
  color: var(--ion-color-primary);
  font-size: calc(14px + 0.5vw);
  text-decoration: underline solid var(--ion-color-primary-shade);
  text-underline-position: under;
}
.link-section-title {
  color: #0C0F57;
  font-size: calc(15px + 0.5vw);
}

.button {
    padding: 10px;
    background-color: var(--ion-color-primary);
    border: thick solid #C6E0E4;
    .text {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      font-size: calc(14px + 2vw);
      color: white;
      max-width: 75%;
    }
    .only-text {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      font-size: calc(14px + 2vw);
      color: white;
    }
    .image {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5vw;
      color: white;
    }
    .text-small {
        font-size: calc(6px + 2vw);
    }
}
.header-back {
    border: thin solid #EE1919;
    border-radius: 50%;
    background: var(--ion-color-primary);
    font-size: calc(16px + 2.5vw);
    color: white;
    padding: calc( 5px + 1vw);
}
